<div class="editor-label">
    Credit To Be Taken
</div>
<div class="editor-field">
    <input disabled="disabled" />
</div>
<div class="editor-label">
    Remaining Credit
</div>
<div class="editor-field">
    <input disabled="disabled" />
</div>