<div class="editor-label">
    Name
</div>
<div class="editor-field">
    <input disabled="disabled" />
</div>
<div class="editor-label">
    Credit
</div>
<div class="editor-field">
    <input disabled="disabled" />
</div>