@model UniversityManagementApp.Models.Student

              <div class="editor-label">
                  Student Name    
              </div>
              <div class="editor-field">
                  <input disabled="disabled" value="@Model.Name"/>   
              </div>
              <div class="editor-label">
                  Email
              </div>
              <div class="editor-field">
                  <input disabled="disabled" value="@Model.Email"/>
              </div>
              <div class="editor-label">
                  Department
              </div>
              <div class="editor-field">
                  <input disabled="disabled" value="@Model.Department.Name"/>
              </div>
         