@model UniversityManagementApp.Models.Course

<div class="editor-label">
    Course Name
</div>
<div class="editor-field">
    <input disabled="disabled" value="@Model.Name" />
</div>
<div class="editor-label">
    Credit
</div>
<div class="editor-field">
    <input disabled="disabled" value="@Model.Credit" />
</div>
