@model UniversityManagementApp.Models.Teacher


<div class="editor-label">
    Credit to be taken
</div>
<div class="editor-field">
    <input disabled="disabled" value="@ViewData["total_credit"]" />
</div>
<div class="editor-label">
    Remaining credit
</div>
<div class="editor-field">
    <input disabled="disabled" value="@ViewData["remaining_credit"]" />
</div>