@Scripts.Render("~/bundles/jqueryui")
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<h2>Date Time Picker</h2>
<p>Date: <input type="text" id="datepicker" /></p>